body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.5;
}

.div-title {
    display:flex;
    gap:1.5rem;
    border-bottom: 5px solid #c3853e;
    padding-bottom: 1rem;
}

.div-content {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    border: 6px solid #504b72;
    padding: 2rem;
    border-radius: 30px;
}

.div-content2 {
    display: grid;
    justify-items: center;
    gap:2rem;
    border: 6px solid #504b72;
    padding: 2rem;
    border-radius: 30px;
}

.circle {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 200px;
    height:120px;
    gap:5rem;
    border-radius: 30%;
    color: white; 
    background-color: #a4a0c2;
    border-color: black;
    border: 4px solid #838284;
}


.circle-container {
    display: grid;
    width:180px;
    gap: 1.5rem;           
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none; 
}